* {
  font-size: 16px;
  font-family: monospace;
  color: whitesmoke;
}

body {
  background-color: darkslategrey;
}

main {
  display: flex;
  /* ; */
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

form > input {
  margin-bottom: 0.5rem;
  color: aliceblue;
  background-color: black;
}

input[type=range] {
  width: 100%;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#target {
  position: absolute;
  border: 1px solid white;
  height: 64px;
  width: 64px;
  pointer-events: none;
}

#lighting {
  max-width: 20vw;
  flex-grow: 1;
}

#twod {
  margin-top: 1rem;
}

#palette-items {
  display: flex;
  flex-direction: column;
  max-height: 540px;
  flex-wrap: wrap;
}

.palette-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.palette-item > p {
  margin: 0 0 5px 0;
}

.field-bar {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.field-bar > p {
  margin: 0 0 10px 0;
}

.palette-box {
  width: 50px;
  height: 16px;
  border: 2px solid black;
  border-radius: 2px;
  padding-bottom: 3px;
}
