* {
  font-size: 16px;
  color: whitesmoke;
}

body {
  background-color: darkslategrey;
}

main {
  display: flex;
  /* ; */
}

form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

form > input {
  margin-bottom: 0.5rem;
  color: aliceblue;
  background-color: black;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#target {
  position: absolute;
  border: 1px solid white;
  height: 64px;
  width: 64px;
}
